*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-size: 1vw;
}

body{
    margin: 0;
    min-height:100vh;
    width: 100%;
    background: linear-gradient(to left, rgb(247, 247, 247), rgb(233, 170, 170));
}
header{
    
    top:0;
    height: 15vh;
    width: 100%;
    background-color: rgb(196, 226, 226);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.Title{
    width:20%;
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    margin-left: 5vh;

}
.links{
    width:30%;
    
}
.login-links{
    text-align: center;
    height: 100%;
    width:10%;
    font-size: 1.2vw;
    margin: 0;
    padding: 0;
    
}
.login-links-text{
    font-size: 1.2vw;
}
table{
    height: 100%;
    border-collapse: collapse;
    border: black 1px solid;
    border-top: none;
    border-bottom: none;
    width:10vw;
}

.header-ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.first{
    border-bottom: black 1px solid;
}
.second{
    color: brown;
}
.header-li{
    padding: 10px;
    font-size: 1.2vw;
}



.main{
    padding: 0;
    margin: 0;
    height: 150vh;
    width: 100%;
    background-color: rgb(235, 245, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    margin: 0;
    padding: 0;
    height:50vh;
    width:100%;
    background-image: url(https://images.pexels.com/photos/70741/cereals-field-ripe-poppy-70741.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: 100% 100%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
}
.banner-text{
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}
.banner-text-heading{
   
    text-align: center;
    font-size: 3.0vw;
}
.banner-text-text{
    margin:2% 0 2% 0;
    text-align: center;
    font-size: 1.5vw;
}
.input-form{
    margin-left: 5% ;
    align-items: center;
    width: 50%;    
    display: flex;
    justify-content: center;
}

.input-label{
    font-size:1.0vw;
    max-height: fit-content;

}
input{
    margin: 5% 0 5% 0;
    height: 1.0vw;
    width: 10vw;
    border-radius: 5%;
    border:none;
    outline: none;
    background-color:aliceblue;

}
select{
    height: 1.0vw;
    width: 10vw;
    border-radius: 5%;
    border:none;
    outline: none;
    background-color:aliceblue;
    font-size: 1.0vw;
    
}
option{
    height:1vw;
    width: 10vw;
    font-size: 1.0vw;
}
input:focus{
    
    background-color: beige;
    font-size: 1.0vw;
}
select:focus{
    background-color: beige;
    height:1vw;
    width: 10vw;
    font-size: 1.0vw;
}
textarea{
    height: 3.0vw;
    max-height: 5.0vw;
    width: 10vw;
    max-width:10vw;
    border-radius: 5%;
    border:none;
    outline: none;
    background-color:aliceblue;
    font-size: 1.0vw;
}
.btn{
    height: fit-content;
    width: fit-content;
    float: right;
    font-size: 1.0vw;
    margin-top: 2vh;
    padding: 1%;
    border-radius: 5%v;
    background-color:darksalmon;
}
textarea:focus{
    background-color: beige;
}
#big-text{
    margin: 3vh 0 3vh 0;
    font-size: 3vw;
    text-align: center;
}
.number-text{
    display: flex;
    height:30%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background:white;
}
.number-text-text{
    padding-top: 3vh;
    background-color: rgb(247, 239, 225);
    text-align: center;
    width:33%;
    height:100%;
    font-size: 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.number-text-hyphen{
    font-size: 3vw;
    margin-bottom:3vw;
}
.number-text-text-heading{
    margin:2vw 0 2vw 0;
    font-size: 1.5vw;
}
.number-text-text-text{
   font-style: italic;
    width: 70%;
   text-align:center;
   font-size: 1.5vw;
}
.img-list{
    width:80%;
    height: 30%;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.img-list-img{
    width: calc(100%/3  - 25px);
    height: 70%;
}
footer{
    position: relative;
    bottom:0;
    height: 35vh;
    width: 100%;
    background-color:rgb(0, 0, 0);
   
}
.footer-ext{
    height: 80%;
    width: 100%;
   
}
.footer-ext-table{
    height: 100%;
    max-height: 100%;
    width: 100%;

}
.footer-links1{
    
    color: white;
    margin:20px 20px 20px 20px;
}
.footer-links1-data{
    height: 100%;
    width:10%;
}
.footer-links2{
   
    color: white;
    margin:20px 20px 20px 20px;
}
.footer-links2-data{
    height: 100%;
    width:10%;
}
.footer-div3-data{
    height: 100%;
    width:20%;
   
    margin-left:20vw;
    vertical-align:middle;
    padding: auto;


}
.footer-div3{
    padding: 0;
    color: white;
    width:100%;
    text-align: center;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

h3{
   
    color: white;
    text-align: center;
    padding:0;
    font-size: 0.8vw;
    


}
h2{
    margin-top: 6vh;
    text-align: center;
    font-weight: 400;
    font-family: cursive;
    font-size: 1.5vw;
    
}
.footer-ul{
    width:100%;
    top:0;
    padding:0;
    margin:0;
    list-style: none;
    display:block;
    white-space: nowrap;
}
.footer-li{
    top:0;
    margin:0;
    padding:0;
    font-size: 0.8vw;
}
.circle_table-div{

margin-left: 5%;

}
.circle_table{
    
    height: 10px;
    border: none;
    margin-top: 10%;

}
.circle_data{
    
    height: 1vw;
    width: 1vw;
    border: 1px solid white;
    border-radius: 100%;
}
.circle_datan{
    background-color: white;
    height: 1vw;
    width: 1vw;
    border: 1px solid white;
    border-radius: 100%;
}
.sub-data{
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.sub-data-div{
    height: 50%;
    width: 100%;

    padding-left: 40%;

}
.sub-class-subscribe{
    height: 1.2vw;
    width: 7vw;
    
    border: 0;
    background-color: tomato;
}

.sub-class-subscribe:hover,.sub-class-subscribe:focus{
    cursor: pointer;
    background-color:red;
}

.blog-data{
    width: 10%;
    height: 100%;
}
.blog-icons{
    height: 50%;
    width: 100%;
}
.blog{
   margin: 0 0 5% 5%;
    border-radius: 5%;
    border: none;
}
.blog-icons-table{
    border:none;
    height: 50%;
    width:50%;
}

i{
    color: white;
}
.footer-ext-2-ul{
    margin-left:2% ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    list-style: none;
   
    text-align: center;
}
.footer-ext-2-li{
    margin: 0 1% 0 1%;
    text-decoration: underline;

}

@media only screen and (max-width: 800px){
    header{
        height: 5vh;
    }

    .Title{  
        margin-left: 1vh;
    
    }
    
    .main{
      
        height: 50vh;
       
       
    }
  
    
    .banner{
        height:20vh;   
    }
    

    .number-text{
        height:20vh;
       
    }
    
   
   
    .img-list{
       
        height: 20vh;
       
    }
    footer{
        
        height: 15vh;
        
       
    }   
    body{
        margin: 0;
        min-height:100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: linear-gradient(to left, rgb(247, 247, 247), rgb(233, 170, 170));
    }

}

@media only screen and (max-width: 800px){
    header{
        height: 5vh;
    }

    .Title{  
        margin-left: 1vh;
    
    }
    
    .main{
      
        height: 50vh;
       
       
    }
  
    
    .banner{
        height:20vh;   
    }
    

    .number-text{
        height:20vh;
       
    }
    
   
   
    .img-list{
       
        height: 20vh;
       
    }
    footer{
        
        height: 15vh;
        
       
    }   
    body{
        margin: 0;
        min-height:100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: linear-gradient(to left, rgb(247, 247, 247), rgb(233, 170, 170));
    }

}